* {
    margin: 0;
    padding: 0;
    }

.body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e8ccd7;
    color: #ab274f;
}
.content-wrap{
   text-align: center;
   margin-top: 30px;
}
.generator-box{
    margin-top: 30px;
    display: inline-block;
    border: 2px solid #ef98aa;
    padding: 15px;
    padding-left: 30%;
    padding-right: 30%;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
   min-height: 300px;
   
}
.generator-header{   
    margin-bottom: 15px; 
}
textarea{
    min-width: 100px;
}